.header {
    display: flex;
    overflow: hidden;

    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;

    /* width: 100%; */
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 40px 20px;

    font-size: 10px;
}