.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-card h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.home-card p {
    font-size: 18px;
    margin-bottom: 30px;
}

.board-card img {
    width: 100%;
    object-fit: cover;
}

.card:hover {
    /* box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2); */
    box-shadow: rgba(0, 0, 0, .2) 0 3px 50px -1px,rgba(255, 255, 255, .14) 0 2px 40px 0,rgba(255, 255, 255, .12) 0 1px 180px 0;
    transform: translateY(-10px);
}
.board-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.delete-board {
    color: #fff;
    background-color: #5D3FD3;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.view-board {
    border: #1b1f2326 1px solid;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: black;
}

.board-display {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 80px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-bar a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    flex: 1;
    padding-bottom: 50px;
}

main.search {
    margin: 0px auto 0px auto;
    max-width: 1200px;
    padding: 0px;
}

main.search input[type="text"] {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

main.search input[type="text"]:focus {
    border-color: #333;
    outline: none;
}

.category-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.category-buttons li {
    list-style: none;
}

.category-buttons .category-button {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-buttons .category-button:hover {
    background-color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.create-btn {
    font-family: 'Work Sans', sans-serif;
}

.card-buttons .view-board {
    font-family: 'Work Sans', sans-serif;
}

.card-buttons .delete-board {
    font-family: 'Work Sans', sans-serif;
}