@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 50px -1px,rgba(0, 0, 0, .14) 0 2px 40px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    justify-content: center;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 10px;
    border: 0px solid;
    background-color: transparent;
    color: #888;
    font-size: 20px;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-header button {
    border-radius: 10px;
}

.modal-body {
    margin-top: 20px;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.modal-inputs input {
    font-family: 'Work Sans', sans-serif;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 86%;
}

.modal-inputs button {
    font-family: 'Work Sans', sans-serif;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid;
    width: 90%;
    color: white;
    background-color: #008080;
}

.modal-inputs select {
    font-family: 'Work Sans', sans-serif;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
}