.board-card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.button-common {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-common:hover {
    transform: translateY(-2px);
}

/* Upvote button styling */
.upvote-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.5vh;
}

.upvote-button:hover {
    background-color: #45a049;
}

/* Delete button styling */
.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.5vh;
}

.delete-button:hover {
    background-color: #e53935;
}
