.card {
    width: 300px;
    height: 100%;
    overflow: hidden;

    background-color: #f5f5f5;
    border-radius: 10px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    margin: 20px;
    padding: 15px 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card:hover {
    /* box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2); */
    box-shadow: rgba(0, 0, 0, .2) 0 3px 50px -1px,rgba(255, 255, 255, .14) 0 2px 40px 0,rgba(255, 255, 255, .12) 0 1px 180px 0;
    transform: translateY(-10px);
}

.delete-button {
    color: #fff;
    background-color: #5D3FD3 ;
}

.view-button {
    border: #1b1f2326 1px solid;
    text-decoration: underline;
}

.board-card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.upvote-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upvote-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    background-color: #e53935;
    transform: translateY(-2px);
}

.comments-section {
    margin-top: 20px;
}

.comments-section h4 {
    margin-bottom: 10px;
}

.comments-section ul {
    list-style-type: none;
    padding: 0;
}

.comments-section li {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment {
    
    display: flex;
    margin-top: 10px;
}

.add-comment input {
    font-family: 'Work Sans', sans-serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-comment button {
    background: #5D3FD3;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-comment button:hover {
    background: #45a049;
}

.card-title p {
    font-weight: bold;
}


/* Board Card */
.board-card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}

.button-common {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-common:hover {
    transform: translateY(-2px);
}

/* Upvote button styling */
.upvote-button {
    font-family: 'Work Sans', sans-serif;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.1vh;
}

.upvote-button:hover {
    background-color: #45a049;
}

/* Delete button styling */
.delete-button {
    font-family: 'Work Sans', sans-serif;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.1vh;
}

.delete-button:hover {
    background-color: #e53935;
}
